/* set font and margin style*/
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 5px;
    padding: 0px;
}

/* set style of background image */
.tim{ 
    background-image: url("covid_banner.jpg");
    width: 100%;
    height: 450px;
    color:  white;
    font-size: 50px;
    padding-top: 150px;
    text-align: center;
}

    /* style of nevagate bar */

   /* style of nevagate bar */

   .navbar {
    width: 100%;
    background-color: none;
    overflow: auto;
}
    .navbar a {
    float: left;
    padding: 15px;
    color: rgb(65, 63, 63);
    text-decoration: none;
    font-size: 30px;
    width: 30%; /* equal widths for navigator bar*/
    text-align: center;
}
    /* style hover navigator bar when click*/
    .navbar a:hover {
    background-color: white;
    color: lightskyblue;
}  

    /*  style of iframe */ 
    .resp-container {
    position: center;
    overflow: fixed;
    padding-top: 10%;
}
    .resp-iframe {
    position: center;
    top: 0;
    width: 100%;
    height: 640px;
    border: 0;
}   
    /* style of section 1 scrolling*/
    #section1 {
        font-size: 30px;
        padding-top: 100px;
    
    }

    /* style of section 2 scrolling*/
    #section2 {
        font-size: 30px;
        padding-top: 100px;
    }


    /* style of section 3 scrolling*/
    #section3 {
        font-size: 30px; 
        padding-top: 100px; 
    }

    /* style of head 1, 2, 3*/
    h2, h3, h4 {
        color: rgb(65, 63, 63);
        text-align: center;
        padding: 0px;
        font-size: 35px;
        font-weight: bold;
    }

    /*style of paragraph*/
    p {
        margin: 120px;
        margin-top: 5px;
        margin-bottom: 30px;
        font-size: 15;

    }
